<main class="form-signin">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <img
      class="mb-4"
      src="https://static.wikia.nocookie.net/fallout/images/d/d0/Smith%26WessonLogo.png/revision/latest?cb=20110525164641"
      alt=""
      width="72"
      height="57"
    />
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <div
      *ngIf="errors"
      class="alert alert-danger alert-dismissible"
      role="alert"
    >
      <div class="alert-message">
        {{ errors }}
      </div>
    </div>
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Enter Username (names)"
        #names="ngModel"
        name="names"
        [(ngModel)]="user.names"
        required
      />
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        #pass="ngModel"
        name="pass"
        [(ngModel)]="user.pass"
        required
      />
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label> <input type="checkbox" value="remember-me" /> Remember me </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">MSR &copy; 2017–2021</p>
  </form>
</main>
